#expected {
    position: absolute;
    left: 0;
    top: 0;
}

#actual {
    position: absolute;
    left: 512px;
    top: 0;
}

#code {
    position: absolute;
    left: 0px;
    top: 600px;
}

#fragmentCode {
    width: 1024px;
    height: 384px;
}

.hiddenCode {
    display: none;
}
